.mixinC {
    @_green: #00C087;
    @_red: #FF7858;
    @_blue: #5B9EDA;
    @c_back_dark: #191919;
    @c_front_dark: #232833;
    @c_like_white: #D7DAEE;
    @c_like_white_07: rgba(215, 218, 238, .7);
    @c_like_white_05: rgba(215, 218, 238, .5);
    @c_active_yellow: #E2B96F;
    @c_pannel_header_dark: #24262A;
    @c_pannel_theader_color: #6A7286;
    @c_pannel_dark: #1D1D1D;
    @c_panel_light: #24262A;
    @c_pannel_border: #454C5C;
    @padding_panel: 0 20px 0 30px;
    @border_radius: 4px;
    @c_obvious: #353D4F;
    @c_back: #F5F5F5;
    @c_black: #232833;
  }
  
  .mixinCL {
    @_green: #00C087;
    @_red: #FF7858;
    @_blue: #5B9EDA;
    @c_back_dark: #F3F4F8;
    @c_front_dark: #232833;
    @c_like_white: #999999;
    @c_like_white_07: #999999;
    @c_like_white_05: #999999;
    @c_active_yellow: #E2B96F;
    @c_pannel_header_dark: white;
    @c_pannel_theader_color: #6A7286;
    @c_pannel_dark: #1D1D1D;
    @c_panel_light: #24262A;
    @c_pannel_border: #454C5C;
    @padding_panel: 0 20px 0 30px;
    @border_radius: 4px;
    @c_obvious: #353D4F;
    @c_back: #F5F5F5;
    @c_black: #232833;
  }
  
  