.tableContainer {
    width: 100%;
    height: 100%;
    :global {
      .table {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .tr {
          position:relative;
          display: flex;
        }
        .td, .th {
          display: flex;
          align-items: center;
          height: 100%;
          flex-shrink: 1;
          flex-grow: 1;
        }
        .thead {
          position: relative;
        }
      }
    }
    .loadingmore{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 4px;
      font-size: 9px;
      letter-spacing: 2px;
      opacity:.3;
    }
    ._scrollerTableContainer {
      position: relative;
      flex-grow: 1;
      ._scrollerTable {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
  
  