html,
body,
:global(#root) {
  height: 100%;
  font-size: 14px;

  a {
    outline: none;
    text-decoration: unset;
    color: unset;
  }
}

* {
  font-weight: 400;
  // font-weight: lighter !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, "Helvetica Neue", HelveticaNeue, Helvetica, Microsoft YaHei, sans-serif !important;
  line-height: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}
